.ResumePage {
    .columnMain {
       .columnMainHead {
        margin-bottom: 16px;
        span:last-child  {
            margin-left: 8px;
            font-size: 26px; 
            font-weight: 500;
            line-height: 39px;
            color: #000000;
        }
       } 
    }
    .ResumeCard {
        background: #fff4f4;
        padding: 16px 12px 16px 20px;
        margin-bottom: 24px;
        border-radius: 8px;
        min-height: 126px;
        .CardDate {
            font-size: 14px;
            line-height: 24px;
            color: #b7b7b7;
        }
        .CardSkill {
            font-size: 20px;
            line-height: 30px;
            color: #000000;
            margin-block: 8px;
        }
        .CardInfo {
            font-size: 16px;
            line-height: 24px;
            color: #000000;
            margin-bottom: 0;
        }
    }
    .columnMainHead {
        span {
            img {
                
            }
        }
    }
    .cardSection {
        padding-bottom: 48px;
    }
    .ed .ResumeCard:nth-child(3){
        background: #fff1fb;
    }
    .ed .ResumeCard:nth-child(4){
        background:#fff4f4;
    }

    .ex .ResumeCard:nth-child(2){
        background: #eef5fa;
    }
    .ex .ResumeCard:nth-child(3){
        background:#f2f4ff;
    }
    .ex .ResumeCard:nth-child(4){
        background:#eef5fa;
    }

    .aw .ResumeCard:nth-child(2){
        background: #fcf4ff;
    }
    .aw .ResumeCard:nth-child(3){
        background:#fcf9f2;
    }
    .aw .ResumeCard:nth-child(4){
        background:#fcf4ff;
    }

    // visualMain 

    .visualMain {
        padding: 48px 80px;
        background: #f8fbfb;
    }

}
.ResumePage .ResumePage-inner {
    padding-inline: 5rem;
}
.cardSection:has(.visualMain) {
    padding-bottom: 0 !important;
}
// .ed.columnMain > .ResumeCard:nth-child(1) {
// }