.wrapper {
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-position: center;
    overflow: hidden;
    overflow-y: scroll;
}