.contact_page {
    .contact_card {
        padding: 30px;
        background: #fcf4ff;
        border-radius: 12px;
        margin-bottom: 24px;
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                a {

                }
            }
        }
    }
}