.introPage {
    min-height: 80vh;
    .introPageFrame {
        border-radius: 50%;
        overflow: hidden;
        width: 280px;
        height: 280px;
        margin-inline: auto;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .introHead {
        font-size: 26px;
        font-weight: 600;
        line-height: 39px;
        margin-block: 24px 4px;
        color: black;
    }

    .introSubHead {
        line-height: 24px;
        margin-block: 0 16px;
        color: #7b7b7b;
    }

}

.socialMain {
    li a {
        transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
        transition-duration: .3s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        &:hover {
            img {
                filter: brightness(0) saturate(100%) invert(96%) sepia(0%) saturate(0%) hue-rotate(108deg) brightness(103%) contrast(106%);
            transition-duration: .4s;

            }
            transition: .3s all background-image;
            background-image: linear-gradient(to right ,rgb(250, 82, 82) , rgb(221, 36, 118));
        }
    }
}