@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

html {
  scroll-behavior: smooth;
  line-height: 1.5;
  font-size: 16px;
}

$primary_font: 'Poppins', sans-serif;
$secondary_font: 'Roboto Slab', serif;
$black_color : #000000;
$white_color : #ffffff;
$primary_Color : #F95054;

// Classes 

.primaryFont {
  font-family: $primary_font;
}

.secondaryFont {
  font-family: $secondary_font;
}



.w-90 {
  width: 80%;
}
.w-80 {
  width: 80%;
}
.w-70 {
  width: 80%;
}
.w-60 {
  width: 80%;
}
.w-50 {
  width: 80%;
}

.headingLine {
  font-size: 2.5rem;
  font-weight: 700;
  position: relative;
  display: block;
  margin: 0;
  // color: $black_color;
  width: fit-content;

  &::after {
    position: absolute;
    content: '';
    left: 13rem;
    width: 12rem;
    top: 50%;
    height: 0.125rem;
    transform: translateY(-50%);
    border-radius: 0.375rem;
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(221, 36, 118));

  }
}

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1280px
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";


// Center in child el
.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}


// mainPage Ui Global Design 
.mainPage {
  width: 100%;
  margin: 0;
  padding-inline: 5rem;
  background-color: $white_color;
  border-radius: 16px;
  padding-block: 48px;
  margin-bottom: 64px;
  overflow: hidden;
}







.introPageHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



.socialMain {

  li {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 0.5rem;
    background: $white_color;
    margin-left: 12px;

    a,
    Link {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;

      &:hover {}
    }
  }
}



.columnMainHead {
  font-size: 26px;
  line-height: 1;
  font-weight: 500;
  color: $black_color;

  img {
    max-width: 28px;
    width: 28px;
  }

  display: flex;
  align-items: center;
}

.resumeHead {
  margin-bottom: 40px;
}

.page {
  position: relative;
  width: 100%;
}

.chatForm_tittle {
  columns: $black_color;
  font-size: 25px;
  font-weight: 400;
  span {
    font-weight: 600;
  }
}
.chatForm_btn {
  width: 110px;
  height: 44px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  border: 2px solid rgb(166, 166, 166);
  border-radius: 8px !important;
  &:hover {
    background-image: linear-gradient(to right, rgb(250, 82, 82), rgb(221, 36, 118));
    background-size: 100% 100%;
    border-color: transparent;
    color: white;
  }
}